<mat-sidenav-container>
  <mat-sidenav #sidenav position="end">
    <router-outlet name="sidenav"></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="order-detail">
      <mat-card class="order-card">
        <mat-spinner *ngIf="loading" [diameter]="20" strokeWidth="3"></mat-spinner>
        <ng-container *ngIf="order">
          <mat-card-header>
            <img mat-card-avatar class="payment-method-avatar" src="/assets/payment_method/{{paymentMethodIcon(order) || 'undefined'}}.jpg">
            <mat-card-title>{{order.id}}</mat-card-title>
            <mat-card-subtitle>{{orderStatus(order.status) || 'Awaiting Status ...'}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>Requested on {{order.requestedOn | date:'y-MMM-dd@HH:mm:ss (z)':'UTC'}}</p>
            <p>Amount {{order.amount / 100 | currency:order.currency:'symbol'}}</p>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Full Payment Information
                </mat-panel-title>
                <mat-panel-description>
                  Explore the payment object's JSON
                </mat-panel-description>
              </mat-expansion-panel-header>
              <pre class="payment-json">{{order | json}}</pre>
            </mat-expansion-panel>
          </mat-card-content>
          <mat-card-actions>
            <mat-list>
              <h3 mat-subheader>Hypermedia</h3>
              <app-hypermedia [payment]="order"></app-hypermedia>
            </mat-list>
          </mat-card-actions>
        </ng-container>
        <ng-container *ngIf="orderNotFound">
          <mat-card-header>
            <mat-card-title>{{'Order not found' | uppercase}}</mat-card-title>
          </mat-card-header>
        </ng-container>
      </mat-card>
      <a mat-raised-button [routerLink]="['/user']"><mat-icon>receipt</mat-icon>&nbsp;MY ORDERS</a>
    </div>    
  </mat-sidenav-content>
</mat-sidenav-container>
