<mat-sidenav-container>
  <mat-sidenav #sidenav position="end">
    <router-outlet name="sidenav"></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar></div>
        <mat-card-title>{{orderId}}</mat-card-title>
        <mat-card-subtitle>{{orderStatus(order?.status) || 'Awaiting Status ...'}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus id nibh vitae ullamcorper. Phasellus ut tristique massa. In commodo et velit eu elementum. Vivamus id bibendum ipsum. Suspendisse eu tincidunt velit.</p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-button [routerLink]="['/user']">MY ORDERS</a>
      </mat-card-actions>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
