/* You can add global styles to this file, and also import other style files */
$color-background: #f8f8f8f8;

$margin: 15px;
$padding: $margin;

body {
  background-color: $color-background;
}

.mat-card-avatar {
  background-size: contain;
}

heroes {
  padding: $padding;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  hero {
    max-width: 15%;
    margin-bottom: 2 * $margin;

    .mat-card-image {
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

billing-and-shipping {
  padding: $padding;
  display: flex;
  flex-direction: row;

  mat-card {
    flex: 1 1 auto;
    margin: $margin;

    form {
      display: flex;
      flex-direction: column;
    }
  }
}
