/* You can add global styles to this file, and also import other style files */
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop-small: "(min-width: 1024px) and (max-width: 1279px)";
$desktop-medium: "(min-width: 1280px) and (max-width: 1599px)";
$desktop-large: "(min-width: 1600px)";

$color-background: #f8f8f8f8;

$margin: 16px;
$padding: $margin;

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
  padding-top: 4px;
  padding-bottom: $padding;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

body {
  background-color: $color-background;
}

.toolbar-title {
  color: white !important;
  text-decoration: none !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.toolbar-item {
  margin-left: $margin;
  margin-right: $margin;
}

.mat-card-avatar {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mat-drawer-container {
  background: none;
}

heroes {
  padding: $padding;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  h1 {
    width: 100%;
    text-align: center;
  }

  hero {
    @media #{$tablet} {
      max-width: 35%;
    }

    @media #{$desktop-small} {
      max-width: 30%;
    }

    @media #{$desktop-medium} {
      max-width: 25%;
    }

    @media #{$desktop-large} {
      max-width: 20%;
    }

    display: inline-flex;
    margin: $margin;
    flex: 1 1 auto;

    .mat-card {
      display: flex;
      flex-direction: column;

      .mat-card-header {
        flex-grow: 0;
      }

      .mat-card-content {
        flex-grow: 1;
        text-align: justify;
      }

      .mat-card-image {
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

hero-detail {
  height: 100%;
  display: flex;

  mat-sidenav-container {
    flex: 1 1 auto;

    mat-sidenav.mat-drawer.mat-sidenav {
      min-width: 30%;
    }

    mat-sidenav-content.mat-drawer-content {
      display: flex;
      flex: 1 1 auto;
      justify-content: center;

      .hero-detail {
        @media #{$tablet} {
          max-width: 35%;
        }

        @media #{$desktop-small} {
          max-width: 30%;
        }

        @media #{$desktop-medium} {
          max-width: 25%;
        }

        @media #{$desktop-large} {
          max-width: 20%;
        }

        flex: 1 1 auto;
        padding: $padding;

        .mat-card {
          display: flex;
          flex-direction: column;
          margin-bottom: 2 * $margin;

          .mat-card-header {
            flex-grow: 0;
          }

          .mat-card-content {
            flex-grow: 1;
            text-align: justify;

            form {
              display: flex;
              align-items: baseline;
              justify-content: space-between;

              .points {
                text-align: right;
              }
            }
          }

          .mat-card-image {
            height: 300px;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

payment-component {
  form {
    display: flex;
    flex-direction: column;
  }
}

app-verify-and-pay {
  p {
    margin: 0px;
  }
}

app-customer-summary {
  display: block;
  padding-top: $padding;
  padding-bottom: $padding;

  .address_line1, .address_line2 {
    white-space: nowrap;
  }
}

app-order-summary {
  display: block;
  padding-top: $padding;
  padding-bottom: $padding;

  .order-summary {
    width: 100%;

    tr.mat-footer-row {
      font-weight: bold;
    }

    .mat-table-sticky {
      border-top: 1px solid #e0e0e0;
    }
  }
}

billing-and-shipping {
  padding: $padding;
  display: flex;
  flex-direction: row;

  mat-card {
    flex: 1 1 auto;
    margin: $margin;

    form {
      display: flex;
      flex-direction: column;
    }
  }
}
