<div class="row">
  <mat-card>
    <app-product-form (formReady)="formInitialized('productForm', $event)"></app-product-form>
  </mat-card>  
</div>
<div class="row">
  <mat-card>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="paymentMethodForm">
        <ng-template matStepLabel>Select a Payment Method</ng-template>
        <app-payment-method-form  (formReady)="formInitialized('paymentMethodForm', $event)" (bankSelected)="bankSelected($event)"></app-payment-method-form>
        <div>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="paymentConfigurationFormGroup">
        <form [formGroup]="paymentConfigurationFormGroup" class="payment-configuration-form">
          <ng-template matStepLabel>Configure the Payment</ng-template>
          <mat-slide-toggle formControlName="autoCapture" color="accent" [checked]="autoCapture">Auto-capture is {{autoCapture ? 'ON' : 'OFF'}}</mat-slide-toggle>
          <mat-slide-toggle formControlName="threeDs" color="accent" [checked]="threeDs">3D Secure is {{threeDs ? 'ON' : 'OFF'}}</mat-slide-toggle>
        </form>
        <div>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <form [formGroup]="paymentFormGroup">
          <ng-template matStepLabel>Verify&nbsp;&amp;&nbsp;Pay</ng-template>
          <form [formGroup]="customerFormGroup" class="customer-form">
            <mat-form-field>
              <input matInput placeholder="Full Name" formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Email" formControlName="email" required>
            </mat-form-field>
          </form>
          <form [formGroup]="addressFormGroup" class="address-form">
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="address_line1" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Still Address" formControlName="address_line2">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="City" formControlName="city" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="State" formControlName="state" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Postcode" formControlName="zip" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Country" formControlName="country" required>
            </mat-form-field>
          </form>
          <mat-checkbox class="gtc-checkbox" formControlName="gtc" required>{{gtcDisclaimer.i_have_read_and_agree}} <a href="{{gtcDisclaimer.g_t_c_uri}}" target="_blank" tabindex="-1">{{gtcDisclaimer.g_t_c}}</a>.<br />{{gtcDisclaimer.i_have_verified_and_want_to_pay}}{{selectedPaymentMethod?.name ? ' via ' + selectedPaymentMethod?.name : ''}}.</mat-checkbox>
        </form>
      </mat-step>
    </mat-vertical-stepper>
    <br />
    <div class="payNowButton-container">
      <button mat-flat-button color="accent" [disabled]="paymentForm.invalid || paymentFormGroup.invalid || customerFormGroup.invalid || addressFormGroup.invalid || processing" (click)="makePayment()" id="payNowButton"><span *ngIf="!processing">Pay Now</span><mat-spinner *ngIf="processing" [diameter]="20" strokeWidth="3"></mat-spinner></button>
    </div>
  </mat-card>
</div>
<pre>
{{paymentForm.value | json}}
</pre>
