<div class="row">
  <mat-card>
    <app-product-form (formReady)="formInitialized('product', $event)"></app-product-form>
    <app-payment-configuration-form></app-payment-configuration-form>
  </mat-card>  
</div>
<div class="row">
  <mat-card>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="customerDetails">
        <ng-template matStepLabel>Customer Details</ng-template>
        <app-customer-details-form></app-customer-details-form>
        <div>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="paymentMethod">
        <ng-template matStepLabel>Select a Payment Method</ng-template>
        <app-payment-method-form (formReady)="formInitialized('paymentMethod', $event)"></app-payment-method-form>
        <div>
          <button mat-stroked-button matStepperNext>Next</button>
        </div>
      </mat-step>
      <mat-step>
        <form [formGroup]="confirmation">
          <ng-template matStepLabel>Confirm</ng-template>
          <mat-card class="mandate" *ngIf="selectedPaymentMethod?.type == 'sepa'">
            <mat-card-header>
              <mat-card-title><h3>SEPA Direct Debit Mandate for {{mandateType}} payment</h3></mat-card-title>
            </mat-card-header>
            <mat-card-content class="mandate-content">
              <div class="creditor">
                <h2>Creditor</h2>
                <h3>b4payment GmbH</h3>
                <p>Oberm&uuml;nsterstraße&nbsp;14</p>
                <p>93047&nbsp;Regensburg</p>
                <p>{{'Germany' | uppercase}}</p>
                <br />
                <p class="monospace">Creditor ID: {{creditorIdentifier}}</p>
              </div>
              <div class="debitor">
                <h2>Debtor</h2>
                <h3>{{accountHolder}}</h3>
                <div class="address">
                  <p>{{address.addressLine1}}</p>
                  <p *ngIf="address.addressLine2">{{address.addressLine2}}</p>
                  <p>{{address.zip}}&nbsp;{{address.city}}, {{address.state}}</p>
                  <p>{{address.country | uppercase}}</p>
                </div>
                <br />
                <p class="monospace">BIC&nbsp;:&nbsp;{{bic}}</p>
                <p class="monospace">IBAN:&nbsp;{{iban}}</p>
              </div>
              <div>
                <mat-divider></mat-divider>
                <p>By accepting this mandate form, you authorise (A) b4payment GmbH to send instructions to your bank to debit your account (B) your bank to debit your account in accordance with the instructions from b4payment GmbH.</p>
                <p>As part of your rights, you are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited.</p>
                <mat-checkbox formControlName="sepaMandateAgreement" required><h4>I accept the mandate for a {{mandateType}} payment</h4></mat-checkbox>
              </div>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-footer>
              <p class="mandate-info">
                Your rights regarding the above mandate are explained in a statement that you can obtain from your bank.
              </p>
            </mat-card-footer>
          </mat-card>
        </form>
      </mat-step>
    </mat-vertical-stepper>
    <br />
    <div class="payNowButton-container">
      <button mat-flat-button color="accent" (click)="makePayment()" id="payNowButton"><span *ngIf="!processing">Pay Now</span><mat-spinner *ngIf="processing" [diameter]="20" strokeWidth="3"></mat-spinner></button>
      <!--<button mat-flat-button color="accent" [disabled]="order.invalid || processing" (click)="makePayment()" id="payNowButton"><span *ngIf="!processing">Pay Now</span><mat-spinner *ngIf="processing" [diameter]="20" strokeWidth="3"></mat-spinner></button>-->
    </div>
  </mat-card>
  <mat-card>
    <pre>{{paymentDetails.getRawValue() | json}}</pre>
  </mat-card>
</div>
