<form [formGroup]="paymentMethod">
  <div class="payment-setup">
    <mat-radio-group class="example-radio-group" formControlName="selectedPaymentMethod" required>
      <mat-radio-button class="example-radio-button" *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod" [disabled]="!matchProcessingCurrencies(paymentMethod.processingCurrencies)">
        {{paymentMethod.name}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="payment-configurators">
      <ng-container *ngIf="selectedPaymentMethod?.type == 'cko-frames'">
        <div class="cko-container"></div>
      </ng-container>
      <ng-container *ngIf="selectedPaymentMethod?.type == 'card'">
        <div [formGroup]="creditCardForm" class="card-container">
          <mat-form-field form-field="credit-card">
            <input matInput placeholder="Card Number" formControlName="number" autocomplete="cc-number" required />
            <mat-error *ngIf="creditCardForm.get('number').hasError('required')">Please enter a Credit Card number.</mat-error>
          </mat-form-field>
          <mat-form-field form-field="expiry">
            <input matInput placeholder="MM | YYYY" formControlName="expiration" autocomplete="cc-exp" required />
            <mat-error *ngIf="creditCardForm.get('expiration').hasError('required')">Please enter the Credit Card's expiration date.</mat-error>
          </mat-form-field>
          <mat-form-field form-field="cvv">
            <input matInput placeholder="CVV" formControlName="cvv" autocomplete="cc-csc" />
            <mat-error *ngIf="creditCardForm.get('cvv').hasError('minlength') || creditCardForm.get('cvv').hasError('maxlength')">Your CVV must have 3-4 digits.</mat-error>
          </mat-form-field>
        </div>
      </ng-container>
      <ng-container *ngIf="selectedPaymentMethod?.type == 'boleto'">
        <mat-form-field form-field="customerName">
          <input matInput placeholder="Full Name" formControlName="customerName" required />
          <mat-error *ngIf="customerName.hasError('required')">Please provide your full name.</mat-error>
        </mat-form-field>
        <mat-form-field form-field="cpf">
          <input matInput placeholder="CPF" formControlName="cpf" required />
          <mat-hint>Please provide your CPF (= Brazilian National Insurance Number).</mat-hint>
          <mat-error *ngIf="cpf.hasError('required')">Please provide your CPF.</mat-error>
        </mat-form-field>
        <mat-form-field form-field="birthDate">
          <input matInput placeholder="Date of Birth" formControlName="birthDate" required />
          <mat-error *ngIf="birthDate.hasError('required')">Please provide your Date of Birth.</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="selectedPaymentMethod?.type == 'giropay' || selectedPaymentMethod?.type == 'lpp_9'">
        <mat-form-field class="wide">
          <input type="text" placeholder="Select a bank" aria-label="Bank" matInput formControlName="bank" [matAutocomplete]="auto" (input)="deselectBank()" required>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBankSelectionChanged()">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
              <span class="monospace">{{bank.bic}}</span> {{bank.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>Easily find a bank by starting to type its name or BIC, then select from the list.</mat-hint>
          <mat-error *ngIf="bank.hasError('required')">Please select the bank to be used in the {{selectedPaymentMethod?.name}} payment.</mat-error>
        </mat-form-field>
      </ng-container>
      <ng-container *ngIf="selectedPaymentMethod?.type == 'klarna'">
        <div [formGroup]="klarnaForm" class="klarna-form-container">
          <mat-form-field form-field="purchase_country">
            <input matInput placeholder="Purchase Country" formControlName="purchase_country" required />
          </mat-form-field>
          <mat-form-field form-field="locale">
            <input matInput placeholder="Locale" formControlName="locale" required />
          </mat-form-field>
          <br />
          <div [formGroup]="klarnaCustomerForm" class="klarna-customer-form">
            <mat-form-field form-field="date_of_birth">
              <input matInput placeholder="Date of Birth" formControlName="date_of_birth">
            </mat-form-field>
          </div>
          <div [formGroup]="klarnaBillingAddressForm" class="klarna-address-form">
            <mat-form-field form-field="title">
              <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
            <mat-form-field form-field="given_name">
              <input matInput placeholder="Given Name" formControlName="given_name">
            </mat-form-field>
            <mat-form-field form-field="family_name">
              <input matInput placeholder="Family Name" formControlName="family_name">
            </mat-form-field>
            <br />
            <mat-form-field form-field="street_address">
              <input matInput placeholder="Address" formControlName="street_address">
            </mat-form-field>
            <mat-form-field form-field="street_address2">
              <input matInput placeholder="Still Address" formControlName="street_address2">
            </mat-form-field>
            <mat-form-field form-field="postal_code">
              <input matInput placeholder="Postcode" formControlName="postal_code">
            </mat-form-field>
            <mat-form-field form-field="city">
              <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
            <mat-form-field form-field="country">
              <input matInput placeholder="Country" formControlName="country">
            </mat-form-field>
            <br />
            <mat-form-field form-field="email">
              <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field form-field="phone">
              <input matInput placeholder="Phone" formControlName="phone">
            </mat-form-field>
          </div>
          <table *ngIf="false" mat-table [dataSource]="klarnaSession.get('products').value" class="mat-elevation-z0">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              <td mat-footer-cell *matFooterCellDef> Grand Total </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef> Quantity </th>
              <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="unit_price">
              <th mat-header-cell *matHeaderCellDef> Price per Unit </th>
              <td mat-cell *matCellDef="let element"> {{(element.unit_price / selectedCurrency?.base) | currency:selectedCurrency?.iso4217:'symbol'}} </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="total_amount">
              <th mat-header-cell *matHeaderCellDef> Total </th>
              <td mat-cell *matCellDef="let element"> {{(element.total_amount / selectedCurrency?.base) | currency:selectedCurrency?.iso4217:'symbol'}} </td>
              <td mat-footer-cell *matFooterCellDef> {{(klarnaGrandTotal / selectedCurrency?.base) | currency:selectedCurrency?.iso4217:'symbol'}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="klarnaProductColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: klarnaProductColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="klarnaProductColumns"></tr>
          </table>
        </div>
        <mat-radio-group class="klarna-radio-group" formControlName="klarnaPaymentOption" required>
          <mat-radio-button class="klarna-radio-button" *ngFor="let paymentOption of klarnaPaymentOptions" [value]="paymentOption.identifier" (change)="loadKlarnaWidget([paymentOption.identifier])">
            <span><img src="{{paymentOption.asset_urls['standard']}}" />&nbsp;{{paymentOption.name}}</span>
          </mat-radio-button>
        </mat-radio-group>
        <div id="klarna-container"></div>
      </ng-container>
      <ng-container *ngIf="selectedPaymentMethod?.type == 'sepa'">
        <div [formGroup]="mandateForm" class="mandate-container">
          <div class="account-info">
            <mat-radio-group radio-group="mandate_type" class="example-radio-group" formControlName="mandate_type" required>
              <label>Mandate Type</label>
              <mat-radio-button class="example-radio-button" value="single">
                single
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" value="recurring">
                recurring
              </mat-radio-button>
            </mat-radio-group>
            <mat-form-field form-field="account_holder">
              <input matInput placeholder="Full Name" formControlName="account_holder" required />
              <mat-error *ngIf="mandateForm.get('account_holder').hasError('required')">Please provide the account holder's full name.</mat-error>
            </mat-form-field>
            <mat-form-field form-field="iban">
              <input matInput placeholder="IBAN" formControlName="account_iban" required />
              <mat-error *ngIf="mandateForm.get('account_iban').hasError('required')">Please provide the account's IBAN.</mat-error>
            </mat-form-field>
            <mat-form-field form-field="bic">
              <input matInput placeholder="BIC" formControlName="verify_bic" />
            </mat-form-field>
          </div>
          <div [formGroup]="addressForm" class="address-form">
            <mat-form-field>
              <input matInput placeholder="Address" formControlName="address_line1" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Still Address" formControlName="address_line2">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="City" formControlName="city" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="State" formControlName="state" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Postcode" formControlName="zip" required>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Country" formControlName="country" required>
            </mat-form-field>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <mat-error *ngIf="paymentMethod.get('selectedPaymentMethod').hasError('required')"><p>Please select a Payment Method.</p></mat-error>
</form>
