<form [formGroup]="paymentDetails">
  <div class="payment-setup" formGroupName="source">
    <mat-radio-group class="example-radio-group" formControlName="type" required>
      <mat-radio-button class="example-radio-button" *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.type" [disabled]="!paymentMethodIsAvailable(paymentMethod.type)">
        <span matTooltip="{{paymentMethodIsAvailable(paymentMethod.type) ? '' : 'Unsupported payment country and/or payment currency'}}">{{paymentMethod.name}}</span>
      </mat-radio-button>
    </mat-radio-group>
    <mat-card *ngIf="sourceFieldsCount > 1">
      <mat-card-header>
        <mat-card-title>{{paymentMethodName}}</mat-card-title>
        <mat-card-subtitle>Payment Information</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="payment-configurators">
        <ng-container *ngIf="paymentDetails.value.source.type == 'cko-frames'">
          <div class="cko-container row"></div>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'card'">
          <mat-form-field form-field="card_name">
            <input matInput placeholder="Card Holder Name" formControlName="name" />
          </mat-form-field>
          <mat-form-field form-field="card_number">
            <input matInput placeholder="Card Number" formControlName="number" autocomplete="cc-number" required />
            <mat-error *ngIf="paymentDetails.get('source.number').hasError('required')">Please enter a Credit Card number</mat-error>
          </mat-form-field>
          <mat-form-field form-field="card_expiry_month">
            <input matInput placeholder="Expiry Month" formControlName="expiry_month" autocomplete="cc-exp-month" required />
            <mat-hint>(MM)</mat-hint>
            <mat-error *ngIf="paymentDetails.get('source.expiry_month').hasError('required')">Please enter the Credit Card's expiration month</mat-error>
          </mat-form-field>
          <mat-form-field form-field="card_expiry_year">
            <input matInput placeholder="Expiry Year" formControlName="expiry_year" autocomplete="cc-exp-year" required />
            <mat-hint>(YYYY)</mat-hint>
            <mat-error *ngIf="paymentDetails.get('source.expiry_year').hasError('required')">Please enter the Credit Card's expiration year</mat-error>
          </mat-form-field>
          <mat-form-field form-field="card_cvv">
            <input matInput placeholder="CVV" formControlName="cvv" autocomplete="cc-csc" />
            <mat-error *ngIf="paymentDetails.get('source.cvv').hasError('minlength') || paymentDetails.get('source.cvv').hasError('maxlength')">Your CVV must have 3-4 digits</mat-error>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'ach'">
          <div formGroupName="source_data" class="row">
            <div class="row">
              <mat-form-field form-field="ach_source_data_account_holder_name">
                <input matInput placeholder="Account Holder Name" formControlName="account_holder_name" required />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field form-field="ach_source_data_account_type">
                <mat-label>Account Type</mat-label>
                <mat-select formControlName="account_type">
                  <mat-option *ngFor="let account_type of ['Checking', 'Savings', 'Corporate', 'CorpSavings']" [value]="account_type">
                    {{account_type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field form-field="ach_source_data_company_name">
                <input matInput placeholder="Company Name" formControlName="company_name" required />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field form-field="ach_source_data_account_number">
                <input matInput placeholder="Account Number" formControlName="account_number" required />
              </mat-form-field>
              <mat-form-field form-field="ach_source_data_routing_number">
                <input matInput placeholder="Routing Number" formControlName="routing_number" required />
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="source_data" class="row">
            <div class="row">
              <mat-form-field form-field="ach_source_data_billing_descriptor">
                <input matInput placeholder="Billing Descriptor" formControlName="billing_descriptor" />
              </mat-form-field>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'bancontact'">
          <mat-form-field form-field="bancontact_account_holder_name">
            <input matInput placeholder="Account Holder Name" formControlName="account_holder_name" required />
          </mat-form-field>
          <mat-form-field form-field="bancontact_payment_country">
            <input matInput placeholder="Payment Country" formControlName="payment_country" required />
          </mat-form-field>
          <mat-form-field form-field="bancontact_billing_descriptor">
            <input matInput placeholder="Billing Descriptor" formControlName="billing_descriptor" />
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'boleto'">
          <mat-form-field form-field="boleto_customerName">
            <input matInput placeholder="Customer Name" formControlName="customerName" required />
          </mat-form-field>
          <mat-form-field form-field="boleto_birthDate">
            <input matInput placeholder="Date of Birth (YYYY-MM-DD)" formControlName="birthDate" required />
            <mat-error *ngIf="paymentDetails.get('source.birthDate').hasError('required')">Please provide your Date of Birth</mat-error>
          </mat-form-field>
          <mat-form-field form-field="boleto_cpf">
            <input matInput placeholder="CPF" formControlName="cpf" required />
            <mat-error *ngIf="paymentDetails.get('source.cpf').hasError('required')">Please provide your CPF (= Brazilian National Insurance Number)</mat-error>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'eps'">
          <mat-form-field [formGroup]="bankForm" form-field="eps_bank">
            <input type="text" placeholder="Your bank (optional)" aria-label="Bank" matInput formControlName="bankSearchInput" [matAutocomplete]="auto" (input)="clearBankForm(selectedBankControl)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBankSelectionChanged($event)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let bank of filteredBanks" [value]="bank">
                <span class="monospace">{{bank.bic}}</span>&nbsp;{{bank.name}}
              </mat-option>
            </mat-autocomplete>
            <button mat-button *ngIf="bankSearchInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearBankForm(bankSearchInput, selectedBankControl)">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint>Easily find a bank by starting to type its name or BIC, then select from the list (<span class="monospace">HYPTAT22XXX</span> for Sandbox)</mat-hint>
          </mat-form-field>
          <mat-form-field form-field="eps_purpose">
            <input matInput placeholder="Purpose" formControlName="purpose" required />
            <mat-error *ngIf="paymentDetails.get('source.purpose').hasError('required')">Please provide a purpose</mat-error>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'fawry'">
          <div class="row">
            <mat-form-field form-field="fawry_description">
              <input matInput placeholder="Description" formControlName="description" required />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field form-field="fawry_customer_profile_id">
              <input matInput placeholder="Customer Profile ID" formControlName="customer_profile_id" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field form-field="fawry_customer_email">
              <input matInput placeholder="Customer Email" formControlName="customer_email" required />
              <mat-error *ngIf="this.source.get('customer_email').hasError('email')">Please enter a valid email address</mat-error>
            </mat-form-field>
            <mat-form-field form-field="fawry_customer_mobile">
              <input matInput placeholder="Customer Mobile" formControlName="customer_mobile" required />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field form-field="fawry_expires_on">
              <input matInput placeholder="Expires On" formControlName="expires_on" />
              <mat-hint>Overrides the default expiration period with a specific ISO 8601 date and time (yyyy-mm-ddThh:mm:ss.ffffff)</mat-hint>
            </mat-form-field>
          </div>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'giropay'">
          <mat-form-field [formGroup]="bankForm" form-field="giropay_bank">
            <input type="text" placeholder="Your bank (optional)" aria-label="Bank" matInput formControlName="bankSearchInput" [matAutocomplete]="auto" (input)="selectedBankControl.reset()">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBankSelectionChanged($event)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let bank of filteredBanks" [value]="bank">
                <span class="monospace">{{bank.bic}}</span>&nbsp;{{bank.name}}
              </mat-option>
            </mat-autocomplete>
            <button mat-button *ngIf="bankSearchInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="bankSearchInput.reset(); selectedBankControl.reset()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint>Easily find a bank by starting to type its name or BIC, then select from the list (<span class="monospace">TESTDETT421</span> for Sandbox)</mat-hint>
          </mat-form-field>
          <mat-form-field form-field="giropay_purpose">
            <input matInput placeholder="Purpose" formControlName="purpose" required />
            <mat-error *ngIf="paymentDetails.get('source.purpose').hasError('required')">Please provide a purpose</mat-error>
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'ideal'">
          <mat-form-field [formGroup]="bankForm" form-field="ideal_bank">
            <input type="text" placeholder="Your bank" aria-label="Bank" matInput formControlName="bankSearchInput" [matAutocomplete]="auto" (input)="selectedBankControl.reset()" required>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBankSelectionChanged($event)">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let bank of filteredBanks" [value]="bank">
                <span class="monospace">{{bank.bic}}</span> {{bank.name}}
              </mat-option>
            </mat-autocomplete>
            <button mat-button *ngIf="bankSearchInput.value" matSuffix mat-icon-button aria-label="Clear" (click)="bankSearchInput.reset(); selectedBankControl.reset()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-hint>Easily find a bank by starting to type its name or BIC, then select from the list (<span class="monospace">INGBNL2A</span> for Sandbox)</mat-hint>
            <mat-error *ngIf="selectedBankControl.hasError('required')">Please select the bank to be used in the {{selectedPaymentMethod?.name}} payment</mat-error>
          </mat-form-field>
          <mat-form-field form-field="ideal_description">
            <input matInput placeholder="Description" formControlName="description" required />
            <mat-error *ngIf="paymentDetails.get('source.description').hasError('required')">Please provide a description</mat-error>
          </mat-form-field>
          <mat-form-field form-field="ideal_language" class="wide">
            <input matInput placeholder="Language" formControlName="language" />
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'klarna'">
          <ng-container [formGroup]="klarnaCreditSessionResponse">
            <div class="row">
              <mat-radio-group class="klarna-radio-group" formControlName="selected_payment_method_category" required>
                <mat-radio-button class="klarna-radio-button" *ngFor="let paymentOption of klarnaCreditSessionResponse.value.credit_session_response.payment_method_categories" [value]="paymentOption.identifier">
                  <span><img src="{{paymentOption.asset_urls['standard']}}" />&nbsp;{{paymentOption.name}}</span>
                </mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row">
              <div id="klarna-container"></div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'knet'">
          <mat-form-field form-field="knet_language">
            <mat-label>Language</mat-label>
            <mat-select formControlName="language" required>
              <mat-option value="ar">Arabic (ar-KW)</mat-option>
              <mat-option value="en">English (en-US)</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="row">
            <mat-form-field form-field="knet_user_defined_field1">
              <input matInput placeholder="UDF1" formControlName="user_defined_field1" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field form-field="knet_user_defined_field2">
              <input matInput placeholder="UDF2" formControlName="user_defined_field2" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field form-field="knet_card_token" #knet_card_token>
              <input matInput placeholder="Card Token" formControlName="card_token" />
              <mat-error *ngIf="paymentDetails.get('source.card_token').hasError('pattern')">Must be 8 digits</mat-error>
            </mat-form-field>
            <span class="spacer">or</span>
            <mat-form-field form-field="knet_user_defined_field3" #knet_user_defined_field3>
              <input matInput placeholder="UDF3" formControlName="user_defined_field3" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field form-field="knet_user_defined_field4">
              <input matInput placeholder="UDF4" formControlName="user_defined_field4" />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field form-field="knet_ptlf" #knet_ptlf>
              <input matInput placeholder="PTLF" formControlName="ptlf" />
            </mat-form-field>
            <span class="spacer">or</span>
            <mat-form-field form-field="knet_user_defined_field5" #knet_user_defined_field5>
              <input matInput placeholder="UDF5" formControlName="user_defined_field5" />
            </mat-form-field>
          </div>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'paypal'">
          <mat-form-field form-field="paypal_invoice_number">
            <input matInput placeholder="Invoice Number" formControlName="invoice_number" required />
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'p24'">
          <mat-form-field form-field="p24_account_holder_name">
            <input matInput placeholder="Account Holder Name" formControlName="account_holder_name" required />
          </mat-form-field>
          <mat-form-field form-field="p24_account_holder_email">
            <input matInput placeholder="Account Holder Email" formControlName="account_holder_email" required />
          </mat-form-field>
          <mat-form-field form-field="p24_billing_descriptor">
            <input matInput placeholder="Billing Descriptor" formControlName="billing_descriptor" />
          </mat-form-field>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'qpay'">
          <div class="row">
            <mat-form-field form-field="qpay_language">
              <mat-label>Language</mat-label>
              <mat-select formControlName="language" required>
                <mat-option value="ar">Arabic (ar-QA)</mat-option>
                <mat-option value="en">English (en-US)</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field form-field="qpay_description">
              <input matInput placeholder="Description" formControlName="description" required />
            </mat-form-field>
            <mat-form-field form-field="qpay_quantity">
              <input matInput placeholder="Quantity" formControlName="quantity" required />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field form-field="qpay_national_id">
              <input matInput placeholder="National ID" formControlName="national_id" />
            </mat-form-field>
          </div>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'sepa'">
          <div formGroupName="source_data" class="row">
            <div class="row">
              <mat-form-field form-field="sepa_source_data_first_name">
                <input matInput placeholder="First Name" formControlName="first_name" required />
              </mat-form-field>
              <mat-form-field form-field="sepa_source_data_last_name">
                <input matInput placeholder="Last Name" formControlName="last_name" required />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field form-field="sepa_source_data_account_iban">
                <input matInput placeholder="IBAN" formControlName="account_iban" />
              </mat-form-field>
              <mat-form-field form-field="sepa_source_data_bic">
                <input matInput placeholder="BIC" formControlName="bic" />
                <mat-hint>Must be this BIC in Sandbox</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <div formGroupName="phone" class="row">
            <mat-form-field form-field="sepa_phone_country_code">
              <span matPrefix>Phone&nbsp;</span>
              <input matInput placeholder="Country Code" formControlName="country_code">
            </mat-form-field>
            <mat-form-field form-field="sepa_phone_number">
              <input matInput placeholder="Number" formControlName="number">
            </mat-form-field>
          </div>
          <div formGroupName="source_data" class="row">
            <div class="row">
              <mat-form-field form-field="sepa_source_data_billing_descriptor">
                <input matInput placeholder="Billing Descriptor" formControlName="billing_descriptor" />
              </mat-form-field>
            </div>
            <div class="row">
              <mat-radio-group radio-group="mandate_type" class="example-radio-group" formControlName="mandate_type" required>
                <label>Mandate Type</label>
                <mat-radio-button class="example-radio-button" value="single">
                  single
                </mat-radio-button>
                <mat-radio-button class="example-radio-button" value="recurring">
                  recurring
                </mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="paymentDetails.value.source.type == 'sofort'">
          <div class="row">
            <mat-form-field form-field="sofort_country_code">
              <input matInput placeholder="Country" formControlName="country_code" required />
            </mat-form-field>
          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="paymentDetails.value.source.type == 'ach'" class="mandate">
      <mat-card-header>
        <mat-card-title><h3>Authorization Agreement Direct Payments (ACH)</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content class="mandate-content">
        <p>I (we) hereby authorize <em class="underlined">{{'Checkout Ltd.'}}</em>, hereinafter called COMPANY, to debit entries to my (our) account indicated below and the Financial Institution named below, hereinafter called FINANCIAL INSTITUTION, to debit same to such account. I (we) acknowledge the origination of ACH transactions to my (our) account must comply with the provisions of U.S. law.</p>
        <mat-form-field form-field="ach_form_financial_institution_name">
          <input matInput [value]="xxx" [disabled]="true">
          <mat-hint>(Financial Institution Name) (Branch)</mat-hint>
        </mat-form-field>
        <mat-form-field form-field="ach_form_financial_institution_address">
          <input matInput [value]="xxx" [disabled]="true">
          <mat-hint>(Address) (City-State) (Zip)</mat-hint>
        </mat-form-field>
        <mat-form-field form-field="ach_form_financial_institution_account">
          <input matInput [value]="source.value.source_data.routing_number + ' ' + source.value.source_data.account_number" [disabled]="true">
          <mat-hint>(Routing/Transit Number) (Account Number)</mat-hint>
        </mat-form-field>
        <mat-form-field form-field="ach_form_account_type">
          <input matInput [value]="source.value.source_data.account_type" [disabled]="true">
          <mat-hint>(Account Type)</mat-hint>
        </mat-form-field>
        <p>Recurring Set Amount <em class="underlined">{{paymentDetails.value.amount / currencyBaseAmount(paymentDetails.value.currency) | currency:paymentDetails.value.currency:'symbol'}}</em> Range: Minimum <em class="underlined">xxx</em> Maximum <em class="underlined">xxx</em></p>
        <p>This authority is to remain in full force and effect until COMPANY has received written notification from me (or either of us) of its termination in such time and manner as to afford COMPANY and FINANCIAL INSTITUTION a reasonable opportunity to act on it.</p>
        <mat-form-field form-field="ach_form_account_holder_name">
          <input matInput [value]="source.getRawValue().source_data.account_holder_name" [disabled]="true">
          <mat-hint>(Print Individual Name)</mat-hint>
        </mat-form-field>
        <mat-form-field form-field="ach_form_account_holder_id">
          <input matInput [value]="xxx" [disabled]="true">
          <mat-hint>(Print Individual ID Number)</mat-hint>
        </mat-form-field>
        <div [formGroup]="paymentConsent">
          <mat-checkbox formControlName="approved" required><h4>I accept the terms and conditions for authorizing an ACH payment</h4></mat-checkbox>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="paymentDetails.value.source.type == 'sepa'" class="mandate">
      <mat-card-header>
        <mat-card-title><h3>SEPA Direct Debit Mandate for {{source.getRawValue().source_data.mandate_type}} payment</h3></mat-card-title>
      </mat-card-header>
      <mat-card-content class="mandate-content">
        <div class="creditor">
          <h2>Creditor</h2>
          <h3>b4payment GmbH</h3>
          <p>Oberm&uuml;nsterstraße&nbsp;14</p>
          <p>93047&nbsp;Regensburg</p>
          <p>DE</p>
          <br />
          <p class="monospace">Creditor ID: DE36ZZZ00001690322</p>
        </div>
        <div class="debitor">
          <h2>Debtor</h2>
          <h3>{{source.getRawValue().source_data.first_name + ' ' + source.getRawValue().source_data.last_name}}</h3>
          <div class="address">
            <p *ngIf="source.value.billing_address.address_line2">{{source.getRawValue().billing_address.address_line2}}</p>
            <p>{{source.getRawValue().billing_address.zip}}&nbsp;{{source.getRawValue().billing_address.city}}, {{source.getRawValue().billing_address.state}}</p>
            <p>{{source.getRawValue().billing_address.country}}</p>
          </div>
          <br />
          <p class="monospace">IBAN:&nbsp;{{source.getRawValue().source_data.account_iban}}</p>
          <p class="monospace">BIC&nbsp;:&nbsp;{{source.getRawValue().source_data.bic}}</p>
        </div>
        <div>
          <mat-divider></mat-divider>
          <p>By accepting this mandate form, you authorise (A) b4payment GmbH to send instructions to your bank to debit your account (B) your bank to debit your account in accordance with the instructions from b4payment GmbH.</p>
          <p>As part of your rights, you are entitled to a refund from your bank under the terms and conditions of your agreement with your bank. A refund must be claimed within 8 weeks starting from the date on which your account was debited.</p>
          <div [formGroup]="paymentConsent">
            <mat-checkbox formControlName="approved" required><h4>I accept the mandate for a {{source.getRawValue().source_data.mandate_type}} payment</h4></mat-checkbox>
          </div>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer>
        <p class="mandate-info">
          Your rights regarding the above mandate are explained in a statement that you can obtain from your bank.
        </p>
      </mat-card-footer>
    </mat-card>
  </div>
</form>
