<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>Welcome to the Payment Demo</mat-card-title>
    <mat-card-subtitle>Made with ❤ by Checkout.com</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>You have opened the Payment Demo in <b>{{environment | titlecase}}</b> mode.</p>
    <p *ngIf="environment === 'production'"><b>Be aware that payments perfomed here will imply real transactions and real costs!</b></p>
    <p>If you want, you can either switch to another environment or continue here.</p>
  </mat-card-content>
  <mat-card-actions>
    <ng-container *ngFor="let webPaymentDemoEnvironment of webPaymentDemoEnvironments">
      <ng-container *ngIf="isAvailableEnvironment(webPaymentDemoEnvironment)">
        <button mat-stroked-button (click)="switchEnvironment(webPaymentDemoEnvironment)">Take me to {{webPaymentDemoEnvironment.name}} <mat-icon>{{webPaymentDemoEnvironment.matIcon}}</mat-icon></button>
      </ng-container>
    </ng-container>
    <button mat-flat-button color="primary" (click)="onConsentClick()" cdkFocusInitial matTooltip="I know what I'm doing">OK Continue <mat-icon>check</mat-icon></button>
  </mat-card-actions>
</mat-card>
