<form [formGroup]="productForm" class="product-form">
  <mat-form-field>
    <input matInput type="number" min="0" placeholder="Amount" formControlName="amount" required>
    <mat-hint>{{amount / currency.base | currency:currency.iso4217:'symbol':'1.2-2'}}</mat-hint>
    <mat-error *ngIf="productForm.get('amount').hasError('required')">Please enter an amount for testing a payment.</mat-error>
    <mat-error *ngIf="productForm.get('amount').hasError('min')">You cannot send an amount < 0.</mat-error>
  </mat-form-field>
</form>
