<h1 mat-dialog-title>Do you want to refund?</h1>
<div mat-dialog-content>
  <p>Refund amount: {{amount / data.currency.base | currency:data.currency.iso4217:'symbol'}}</p>
  <mat-slider form-field="refund_prompt_amount"
              [max]="data.amount"
              [min]="0"
              [thumbLabel]="true"
              [(ngModel)]="amount"
              cdkFocusInitial>
  </mat-slider>
  <p>Refund reference:</p>
  <mat-form-field form-field="refund_prompt_reference">
    <input matInput [(ngModel)]="data.reference">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="{amount: amount, reference: data.reference}" color="primary">Yes Refund</button>
</div>
