<!-- loading template -->
<ng-template #loading>
  <mat-spinner [diameter]="20" strokeWidth="3"></mat-spinner>
  <br />
</ng-template>
<!-- billing template -->
<ng-template #billing>
  <h4>Billing Details</h4>
  <div [formGroup]="paymentDetails">
    <div [formGroup]="customer">
      <mat-form-field form-field="title">
        <mat-label>Title</mat-label>
        <mat-select formControlName="title" name="food">
          <mat-option *ngFor="let title of ['Mr', 'Ms']" [value]="title">
            {{title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field form-field="given_name">
        <input matInput placeholder="Given Name" formControlName="given_name" required>
      </mat-form-field>
      <mat-form-field form-field="family_name">
        <input matInput placeholder="Family Name" formControlName="family_name" required>
      </mat-form-field>
    </div>
    <div formGroupName="billing_address">
      <mat-form-field form-field="address_line2">
        <input matInput placeholder="Address" formControlName="address_line2" required>
      </mat-form-field>
      <mat-form-field form-field="zip">
        <input matInput placeholder="Postcode" formControlName="zip" required>
      </mat-form-field>
      <mat-form-field form-field="city">
        <input matInput placeholder="City" formControlName="city" required>
      </mat-form-field>
      <mat-form-field form-field="state">
        <input matInput placeholder="Municipality" formControlName="state">
      </mat-form-field>
      <mat-form-field form-field="countries">
        <mat-label>Country</mat-label>
        <mat-select formControlName="country" name="food" required>
          <mat-option *ngFor="let country of countries" [value]="country.alpha2Code" title="{{country.name}}&nbsp;({{country.alpha2Code}})">
            <img class="flag" src="{{country.flag}}" /><span>&emsp;{{country.name}}&nbsp;({{country.alpha2Code}})</span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div formGroupName="customer">
      <mat-form-field form-field="email">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="this.paymentDetails.get('customer.email').hasError('email')">Please enter a valid email address</mat-error>
      </mat-form-field>
    </div>
  </div>
</ng-template>
<!-- shipping template -->
<ng-template #shipping>
  <br />
  <h4>Shipping Details</h4>
  <div [formGroup]="paymentDetails">
    <div formGroupName="shipping">
      <div formGroupName="address">
        <mat-form-field form-field="address_line1">
          <input matInput placeholder="Recipient" formControlName="address_line1">
        </mat-form-field>
        <br />
        <mat-form-field form-field="address_line2">
          <input matInput placeholder="Address" formControlName="address_line2">
        </mat-form-field>
        <mat-form-field form-field="zip">
          <input matInput placeholder="Postcode" formControlName="zip">
        </mat-form-field>
        <mat-form-field form-field="city">
          <input matInput placeholder="City" formControlName="city">
        </mat-form-field>
        <mat-form-field form-field="state">
          <input matInput placeholder="Municipality" formControlName="state">
        </mat-form-field>
        <mat-form-field form-field="countries">
          <mat-label>Country</mat-label>
          <mat-select formControlName="country" name="food" required>
            <mat-option *ngFor="let country of countries" [value]="country.alpha2Code" title="{{country.name}}&nbsp;({{country.alpha2Code}})">
              <img class="flag" src="{{country.flag}}" /><span>&emsp;{{country.name}}&nbsp;({{country.alpha2Code}})</span>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div formGroupName="shipping">
      <div formGroupName="phone">
        <mat-form-field form-field="country_code">
          <span matPrefix>Phone&nbsp;</span>
          <input matInput placeholder="Country Code" formControlName="country_code">
        </mat-form-field>
        <mat-form-field form-field="number">
          <input matInput placeholder="Number" formControlName="number">
        </mat-form-field>
      </div>
    </div>
  </div>
  <br />
  <button mat-stroked-button color="warn" (click)="removeShippingAddress()">Remove Shipping Details</button>
</ng-template>
<!-- shipping_to_billing template -->
<ng-template #shipping_to_billing>
  <br />
  <button mat-stroked-button color="primary" (click)="addShippingAddress()">Add Shipping Details</button>
</ng-template>
<form *ngIf="paymentDetails && countries; else loading">
  <div class="payment-setup">
    <div class="payment-configurators">
      <!-- billing container -->
      <ng-container *ngTemplateOutlet="billing"></ng-container>
      <!-- shipping container -->
      <ng-container *ngIf="!shippingToBilling; then shipping; else shipping_to_billing"></ng-container>
    </div>
  </div>
</form>
